<h1> Current time: <%= DateTime.now %></h1>

<% if @nighttime %>
    <%= image_tag 'https://digest.bps.org.uk/wp-content/uploads/2015/05/2819d-thinkstockphotos-482133835.jpg' %>
<% else %>
    <img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555279340/shape/mentalfloss/istock-477841482.jpg"/>
<% end %>